
		<% form_for(@tentativa,:html => { :multipart => true }) do |form| %>
			
			<div class="field">
				<%= form.label "Linguagem:" %>
				<%= form.select(:language_id,options_for_select(arrayLang)) %>
			</div>
			
			<%= hidden_field_tag(:enunciado_id, @enunciado.id) %>
			<%= hidden_field_tag(:user_id, current_user.id) %>		
			Submeter tentativa:
			<%= form.file_field :path %>
			<br/>
			<%= submit_tag "Submeter tentativa - Codigo" %>
			<% if current_user.admin? %>
				<%= submit_tag "Submeter tentativa - XML" %>		
			<% end %>

		<% end %>

