<table class="vertaligntop" summary="Informacao concurso" border= "1">
	<tr>
		
    	<td class="vertaligntop">
	
			<% if @erros.size > 0 %>
				<div id="error_explanation">
			    	<ul>
			    		<% @erros.each do |msg| %>
			      		<li><%= msg %></li>
			    		<% end %>
			    	</ul>
			  	</div>
			<% end %>
	
		<h3><b>Enunciado</b>  <%= @enunciado.titulo %></h3>

				    <b>Descricao: </b>
						<span class="enunciado"><%= @enunciado.desc %></span> <br/>
				    <b>Peso: </b>
						<span class="enunciado"><%= @enunciado.peso %></span>% <br/>
					<b>função de avaliação: </b> 
				    	<span class="func">
							<%=@function.func%>
						</span> <br/>
				

				<%= render 'enunciados/submit'%>

			  	</td>

		
		<td>		
		<%= render 'enunciados/sidebar'%>
		</td>

  </tr>
</table>
