<table class="tentativas" summary="Informacao das tentativas">
	<tr>
		<td>
			<h1>Tentativas</h1>
			
			<% if @user %>
				<% if @user.admin? %><b>Docente: </b><% else %><b>Grupo: </b><% end %>
				<%= link_to @user.name, @user %><br/>
			<% end %>
			
			<% if @concurso %>
				<b>Concurso:</b>
				<%= link_to @concurso.tit, @concurso %>
				<% if concursoActivo(@concurso) %>
					 <span style="color:green">(Activo)</span> 
				<% else %>
				 	<span style="color:red">(Inactivo)</span> 
				<% end %>
			<% end %>
			<br/>
			<% if @enunciado %>
				<b>Enunciado:</b>
				<%= link_to @enunciado.titulo, @enunciado %><br/>
			<% end %>
			
			<% if @tentativas %>
			
				<%= will_paginate %>
			
				<ul class="tentativas">
					<table border="1">
						<tr>
							<td>Num Tentativa</td>
							<td>Grupo</td>
							<% if !@concurso%>
								<td>Concurso</td>
							<% end %>
							<% if !@enunciado%>
								<td>Enunciado</td>
							<% end %>
							<td>Resultado</td>
							<td>Compilou</td>
							<td>Terminou a execução</td>														
						</tr>
				  		<%= render @tentativas %>
					</table>
				</ul>
	
				<%= will_paginate %>
			<% else %>	
				<ul class="tentativas">
					Actualmente não existem participantes neste concurso!
				</ul>
			<% end %>	
			</td>
			
			
		<td class="sidebar round">
			<% if(@enunciado) %>
				<%= link_to "Voltar para o enunciado", enunciado_path(@enunciado) %>
			<% end %>
		</td>
	
	</tr>
</table>


