<table class="tentativas" summary="Informacao das tentativas">
	<tr>
		<td>
			<h1>Tentativas</h1>
			
			<% if @user %>
				<% if @user.admin? %><b>Docente: </b><% else %><b>Grupo: </b><% end %>
				<%= link_to @user.name, @user %><br/>
			<% end %>
			
			<% if @concurso %>
				<b>Concurso:</b>
				<%= link_to @concurso.tit, @concurso %>
				<% if concursoActivo(@concurso) %>
					 <span style="color:green">(Activo)</span> 
				<% else %>
				 	<span style="color:red">(Inactivo)</span> 
				<% end %>
			<% end %>
			<br/>
			<% if @enunciado %>
				<b>Enunciado:</b>
				<%= link_to @enunciado.titulo, @enunciado %><br/>
			<% end %>
			
			<% if @tentativas %>
			
				<%= will_paginate %>
			
				<ul class="tentativas">
					<table border="1">
						<tr>
							
							<% if params[:user_id] && params[:enunciado_id]%> 
							<td><%= link_to "Id da Tentativa",
							{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
							 :enunciado_id=>params[:enunciado_id], :ordem=>"created_at DESC"}  %></td>
							
							<%else%>
								<% if params[:user_id] %>
								<td><%= link_to "Id da Tentativa",
								{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
								 :ordem=>"created_at DESC"}  %></td>
								
								<%else%>
								<% if params[:enunciado_id] %>
									<td><%= link_to "Id da Tentativa",
									{:action => "index", :controller => "tentativas", :enunciado_id=>params[:enunciado_id],
									 :ordem=>"created_at DESC"}  %></td>
									<% else%>
										<td><%= link_to "Id da Tentativa",
										{:action => "index", :controller => "tentativas",
										 :ordem=>"created_at DESC"}  %></td>
									<%end%>
								<%end%>
							<%end%>
							
							
							<td>Grupo</td>
							<% if !@concurso%>
								<td>Concurso</td>
							<% end %>
							<% if !@enunciado%>
								<td>Enunciado</td>
							<% end %>
							
							
							<% if params[:user_id] && params[:enunciado_id]%> 
							<td><%= link_to "Resultado",
							{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
							 :enunciado_id=>params[:enunciado_id], :ordem=>"passedTests DESC"}  %></td>
							
							<%else%>
								<% if params[:user_id] %>
								<td><%= link_to "Resultado",
								{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
								 :ordem=>"passedTests DESC"}  %></td>
								
								<%else%>
								<% if params[:enunciado_id] %>
									<td><%= link_to "Resultado",
									{:action => "index", :controller => "tentativas", :enunciado_id=>params[:enunciado_id],
									 :ordem=>"passedTests DESC"}  %></td>
									<% else%>
										<td><%= link_to "Resultado",
										{:action => "index", :controller => "tentativas",
										 :ordem=>"passedTests DESC"}  %></td>
									<%end%>
								<%end%>
							<%end%>
							
							
							
							<td>Compilou</td>
							
							
							
							<% if params[:user_id] && params[:enunciado_id]%> 
							<td><%= link_to "Tempo de Exec",
							{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
							 :enunciado_id=>params[:enunciado_id], :ordem=>"tExec ASC"}  %></td>
							
							<%else%>
								<% if params[:user_id] %>
								<td><%= link_to "Tempo de Exec",
								{:action => "index", :controller => "tentativas", :user_id=>params[:user_id],
								 :ordem=>"tExec ASC"}  %></td>
								
								<%else%>
								<% if params[:enunciado_id] %>
									<td><%= link_to "Tempo de Exec",
									{:action => "index", :controller => "tentativas", :enunciado_id=>params[:enunciado_id],
									 :ordem=>"tExec ASC"}  %></td>
									<% else%>
										<td><%= link_to "Tempo de Exec",
										{:action => "index", :controller => "tentativas",
										 :ordem=>"tExec ASC"}  %></td>
									<%end%>
								<%end%>
							<%end%>
							
							
							<td>Terminou a execução</td>														
						</tr>
				  		<%= render @tentativas %>
					</table>
				</ul>
	
				<%= will_paginate %>
			<% else %>	
				<ul class="tentativas">
					Actualmente não existem participantes neste concurso!
				</ul>
			<% end %>	
			</td>
			
		<% if(@enunciado) %>	
			<td class="sidebar round">
					<%= link_to "Voltar para o enunciado", enunciado_path(@enunciado) %>
			</td>
		<% end %>
	
	</tr>
</table>


