<table class="enunciado" summary="concorrentes do grupo">
	<tr>
	  <td class="enunciado">
		
		
		<table class="enunciado" summary="concorrentes do grupo">
			<tr>
			  <td class="enunciado">
		
					<h1>Tentativa</h1>
						
					<b>Path:	</b><br/><%= @tentativa.path %><br/><br/>
					
					<b>Compilou: </b>
					<% if @tentativa.compilou %>
					Sim
					<% else %>
					Não
					<% end %>
					<br/><br/>
					<% if @tentativa.compileOut.eql? "" %>
					<% else %>
						<% if @tentativa.compilou %>
							<b>Warnings: </b><br/>
						<% else %>
							<b>Erros: </b><br/>
						<% end %>
							<%= @tentativa.compileOut %><br/><br/>
					<% end %>
					
					<b>Execução abortada: </b>
					<% if @tentativa.execStop%>
						Sim
					<% else %>
						Não
					<% end %><br/><br/>
					
					<% if @tentativa.tExec >= 0 %>
						<b>Tempo de execução para todos os testes: </b>
						<%= @tentativa.tExec.round(6) %> segundos
						
						<b>Tempo médio de execução para um teste: </b>
						<%= (@tentativa.tExec / @enunciado.baterias.size).round(6)  %> segundos
					<% end %><br/>
					
					
					<b>Percentagem de testes que passou com sucesso: </b><%= @tentativa.passedTests %>%<br/><br/>
					<b>Código Submetido:</b><br/><br/>
					<% @codigo.each do |linha| %>
					<%= linha %><br/>
					<% end %>
						
				</td>
			</tr>
		</table>

		</td>
		<%= render 'sidebar' %>
	</tr>
</table>