<table class="concurso" summary="Informacao concurso">
	<tr>
		<td>
			<h1>Linguagens</h1>

			<%= will_paginate %>

			<ul class="funcoes">
				<% @languages.each do |l|%>
					<li>
						<b>Linguagem:</b>
						<%= l.ling %>
						| <%= link_to "delete", l, :method => :delete,
												 :confirm => "You sure?",
												 :title => "Delete #{l.ling}" %>
						| 						<%= link_to "edit", edit_language_path(l) %>
					  <br/>
						<b>String compilação:</b>
						<%= l.compString %><br/>
						<b>String execução:</b>
						<%= l.execString %><br/>
						<b>String complexa execução:</b>
						<%= l.complexExecString %><br/>
					</li>
				<% end %>
			</ul>

			<%= will_paginate %>
		</td>
					
			<%= render 'languages/sidebar' %>
			
	</tr>
</table>	