<% if (!current_user.admin? && concursoActivo(concurso)) %>
	<li>
		<%= link_to concurso.tit, concurso %>
		<% if current_user.admin? %>
		 |	<%= link_to "delete", concurso, :method => :delete,
									 		:confirm => "You sure?",
		                             	 	:title => "Delete #{concurso.tit}" %>
		|
			<% if concursoActivo(concurso) %>
			(Estado: Activo)
			<% else %>
			(Estado: Inactivo)
			<% end %>
		<% end %>
	</li>
<% end %>


<% if (current_user.admin?) %>
	<li>
		<%= link_to concurso.tit, concurso %>
		<% if current_user.admin? %>
		 |	<%= link_to "delete", concurso, :method => :delete,
									 		:confirm => "You sure?",
		                             	 	:title => "Delete #{concurso.tit}" %>
		|
			<% if concursoActivo(concurso) %>
			(Estado: Activo)
			<% else %>
			(Estado: Inactivo)
			<% end %>
			
			<!-- INICIO GERACAO DE RESULTADOS-->
			<% if concursoActivo(concurso) %>
			<% else %>
				<!-- METRICAS -->
				<br/>Metricas:
				<% if metricasGeradas(concurso) %>
				 <%= link_to("Download", :action=>'downloadMetrics',:controller=>'concursos',:concurso_id=>concurso.id) %>
             | <%= link_to("Ver", :action=>'viewMetrics',:controller=>'concursos',:concurso_id=>concurso.id) %>
				<% else %>
				  <%= link_to "Gerar",  {:action => "generateMetrics", :controller =>"concursos", :concurso_id=>concurso.id} %>
				<% end %>
			
				<!--Resultados exercicios-->
				<br/>Resultados:
				<% if concursoActivo(concurso) %>
				<% else %>
					<% if resultadosGerados(concurso) %>
					 <%= link_to("Download", :action=>'downloadResults',:controller=>'concursos',:concurso_id=>concurso.id) %>
					 | <%= link_to("Ver", :action=>'viewResults',:controller=>'concursos',:concurso_id=>concurso.id) %>
					<% else %>
					  <%= link_to "Gerar",  {:action => "generateResults", :controller =>"concursos", :concurso_id=>concurso.id} %>
					<% end %>
				<% end %>
				
			<% end %>
			<!-- FIM GERACAO DE RESULTADOS-->
			
						
		<% end %>
	</li>
<% end %>

