<table class="tentativas" summary="Informacao das tentativas">
	<tr>
		<td>
			<h1>Melhores resultados por enunciado</h1>
			
			
			
			<% if @user %>
				<% if @user.admin? %><b>Docente: </b><% else %><b>Grupo: </b><% end %>
				<%= link_to @user.name, @user %><br/>
			<% end %>
			

			<% if @concurso %>
				<b>Concurso:</b>
				<%= link_to @concurso.tit, @concurso %>
				<% if concursoActivo(@concurso) %>
					 <span style="color:green">(Activo)</span> 
				<% else %>
				 	<span style="color:red">(Inactivo)</span> 
				<% end %>
			<% end %>
			<br/>
			
			<% if @results %>
			
				<%= will_paginate %>
			
				<ul class="tentativas">
					<table border="1">
						<tr>
							<td>ID Resultdado</td>
							<td>ID da tentativa respectiva</td>
							<% if !@user %>
								<td>Grupo</td>
							<% end %>
							<% if !@concurso %>
								<td>Concurso</td>
							<% end %>
								<td>Enunciado</td>
							<td>Resultado</td>
							<td>Tempo de execução</td>													
						</tr>
				  		<%= render @results %>
					</table>
				</ul>
	
				<%= will_paginate %>
			<% else %>	
				<ul class="tentativas">
					Actualmente não existem resultados para apresentar!
				</ul>
			<% end %>	
			</td>
			
		<% if @concurso %>	
			<td class="sidebar round">
				<%= link_to "Voltar para o concurso", concurso_path(@concurso) %>
			</td>
		<% end %>
	
	</tr>
</table>


