<table class="enunciado" summary="concorrentes do grupo">
	<tr>
	  <td class="enunciado">
		
		
		<table class="enunciado" summary="concorrentes do grupo">
			<tr>
			  <td class="enunciado">
		
					<h1>Testes</h1>


					<ul class="testes">
					  <%= render 'new_bateria' %>
					</ul>
					<% if @baterias %>
						<%= will_paginate %>
	
						<ul class="testes">
					  		<%= render @baterias %>
						</ul>
	
						<%= will_paginate %>
					<% else %>
						<h2>Não existem testes para este enunciado</h2>
					<% end %>
				</td>
			</tr>
		</table>

		</td>
		<%= render 'sidebar' %>
	</tr>
</table>



